[submodule "bm/base_motor/PublisherSubscriber"]
	path = bm/base_motor/PublisherSubscriber
	url = https://github.com/Johns-Hopkins-URC-Mars-Rover/PublisherSubscriber.git
[submodule "bm/base_motor/AKMotorControl"]
	path = bm/base_motor/AKMotorControl
	url = https://github.com/Johns-Hopkins-URC-Mars-Rover/AKMotorControl.git
